rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
    	return request.auth != null;
    }

    function belongsTo(userId) {
    	return request.auth.uid == userId
		}

    match /{document=**} {
      allow read, write: if true;
    }

    match /users/{userId} {
    	allow create: if isSignedIn();
      allow update: if belongsTo(userId);
      allow delete: if false;
    }
    
    /*
    match /cities/{city} {
      // A read rule can be divided into get and list rules

      // Applies to single document read requests
      allow get: if <condition>;

      // Applies to queries and collection read requests
      allow list: if <condition>;

      // A write rule can be divided into create, update, and delete rules

      // Applies to writes to nonexistent documents
      allow create: if <condition>;

      // Applies to writes to existing documents
      allow update: if <condition>;

      // Applies to delete operations
      allow delete: if <condition>;
    }
    */
  }
}